@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Details";
}
<div>
    <h1 class="mb-4">Walker Profile</h1>

    <section class="container">
        <img style="width:100px;float:left;margin-right:20px"
             src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Font_Awesome_5_regular_user-circle.svg" />
        <div>
            <label class="font-weight-bold">Name: </label>
            <span>@Model.Walker.Name</span>
        </div>
        <div>
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5">
            <h1 class="text-left">Recent Walks</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Walks[0].Date)
                        </th>
                        <th>
                            Dog's Owner
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Walks[0].Duration)
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    @foreach(Walk walk in Model.Walks)
                    {
                    <tr>
                        <td>
                            @walk.Date.ToShortDateString()
                        </td>
                        <td>
                            @walk.Dog.Owner.Name
                        </td>
                        <td>
                            @(walk.Duration / 60) min
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </section>
        <section class="col-lg-4 col-md-8 container mt-5">
            <h3>Total Walk Time: @TimeSpan.FromSeconds(Model.Walks.Select(d => d.Duration).Sum()).ToString(@"hh\h\r\ mm\m\i\n")</h3>
        </section>
    </div>
</div>
